/* Config
 *
 * theme_colour: #973131;
 * background: #FFFAF0;
*/

.tarq-bg-red {
  background: #973131;
}

.tarq-red {
  color: #973131;
}

.tarq-white {
  color: #FFFAF0;
}

.tarq-bg-white {
  background: #FFFAF0;
}

.tarq-page-title {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
